<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intital-scale = 1">
    <link rel="stylesheet" href="felco.css" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Petrona:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Kanit:ital,wght@0,700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
<meta name="description" content="Your one-stop shop for building materials in Nuwaidrat! Felco Building Materials W.L.L offers a wide range of construction, plumbing, hardware, sanitary, and electrical supplies.
Plus, get expert maintenance services for your building and pool needs.">
<meta name="keywords" content="Building Materials,Building Materials in bahrain,Construction,building materials near me.">
    <title>Building Materials Store</title>
  </head>
  <body>
    <div class="section">
      <div class="circback" style="width:100%;display:flex;justify-content:center; background-image:url('../image/homeline.png');
      max-width:100%;background-size:cover;background-repeat:no-repeat;">
      <nav>
        <div class="logo">
        </div>
        <div class="ul">
          <div class="home-back">
            <div class="homeclass">
              <form class="homebtn" action="/initialpage" method="post">
                <button class="ebtn" type="submit"><div class="navtxt">PRODUCTS</div></button>
              </form>
            </div>
          </div>
        </div>
      </nav>
        <div class="title-posi">
          <div class="title-text">We sell all types of building materials at </br>best price</div>
        </div>
        <div class="btn-pos">
          <span style="font-size:12px;font-family: 'Didact Gothic', sans-serif;font-weight: bold;position:absolute;margin-top:-20px;">SCROLL</span>
          <button type="button" name="button" class="scrollbtn">
          <br><i style="font-size:14px;"class="fa fa-angles-down"></i>
          <div class="btn-dot">
          </div>
        </button>
      </div>
      <button class = "subbtn1" type="submit" name="button"><a href="#go-There" style="color:#03055B;">CONTACT US</a></button>
    </div>
  </div>
    <div class="section-2">
      <div class="fel-title">
        <h1 style="color:#121212;z-index:4;opacity:0.1;position:;font-family: Kanit, sans-serif;">F</br>E</br>L</h1>
      </div>

    <div class="shape-posi">
        <div class="house-posi">
          <div class="">

            <div class="housee">
            </div>
          </div>
      </div>
      <div class="tile-desc">
        <span class="about-titl">AB</span><span class="rest-text">OUT</span>
        <div class="text-desc">
          <p style="font-family: 'Didact Gothic', sans-serif;">We at Felco Building Materials W.L.L located in Nuwaidrat offers<br>various range of building materials , Construction, Plumbing,<br>
               Hardware, Sanitary and electrical items. In addition, we also<br>provide building related and swimming pool maintenance<br>
          services right at your doorstep. We’re here to help you get the <br>best materials needed to build a strong foundation. </p>
        </div>
      </div>
    </div>
    </div>
    <div class="prod-move">
            <div class="prod-move-inner"></div></div>
            <img class= "prod-it1" src="../image/hammer.png" alt=""><img class="prod-it2" src="../image/chisel.png" alt=""><img class="prod-it3" src="../image/screwdriver.png" alt="">

            <div class="down-poss">
          </div>
    <div class="section-3">
      <div class="fel-title" style="position:absolute;display:flex;justify-content: center;align-items:center;height:100%;font-size:2.5em;left:2%;">
        <h1 style="color:#121212;z-index:4;opacity:0.08;font-family:'Sofia',sans-serif;font-weight:bold;">C</br>O</br>.</h1>
      </div>
<div class="servi-posi">
  <span class="serv-titl">SER</span><span class="rests-text">VICES</span>
</div>
<div class="thd-house-posi">
  <div class="serv-det-pos" >
  <div class="gyps">
    <div class="gyps-cont">
      Gypsum fixing
  </div>
  </div>
    <div class="carp">
      <span class="carp-cont" >
        Carpenter
    </span>
  </div>
    <div class="plumb">
    <span class="plumb-cont">
      Plumber
  </span>
  </div>
    <div class="water">
      <span class="water-cont">
        Waterproofing
    </span>
  </div>
    <div class="maiso">
    <span class="maiso-cont">
    Maison
  </span>
  </div>
    <div class="paint">
      <span class="paint-cont">
        Painter
    </span>
  </div>
    </div>
<img class= "thd-house-top" src="../image/product house gaa.png"/>
</div>
    <div class="shape-posi">

</div>
    </div>
    <div class="section-4" id="go-There">
      <div class="ccon" style="position:absolute;top:-3%;left:2%; font-family:'Kanit',sans-serif;-webkit-text-stroke:0.5px black;
      -webkit-text-fill-color:transparent;font-size:100px;">
        CON
      </div>
      <div class="contact-box">
        <div class="contact-side">
          <div class="notif-box">
            <div class="big-box">
            </div>
          </div>
          <div class="notif-box-2">
            <div class="big-box">
            </div>
          </div>
          <div class="notif-box-3">
            <div class="big-box">
            </div>
          </div>
        </div>
        <div class="form-pos">
          <div class="titl-contact">
            CONTACT US
          </div>
          <form class="" action="https://api.web3forms.com/submit" method="POST">
            <input type="hidden" name="access_key" value="779ca5f2-68dd-4460-8e5d-52e5e8857e8f">
            <input placeholder="First Name"type="text" name="firstname" required>
            <input placeholder="Email Id"type="email" name="firstname" required>
            <textarea placeholder="Write Message here..." rows="8" cols="50" name="textareas"></textarea>
            <div class="subbtnposi">
            <button class = "subbtn" type="submit" name="button">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
      <div class="ttac" style="position:absolute;bottom:-3%;right:2%; font-family:'Kanit',sans-serif;-webkit-text-stroke:0.5px black;
      -webkit-text-fill-color:transparent;font-size:100px;">
        TACT
      </div>
    </div>
    <footer>
      <div class="con-pos">
        <h2>FELCO BUILDING MATERIALS</h2>
      </div>
        <div class="detail-poss" >
        <div class="left-detail">
        <div class="" style="font-size:12px;font-family: 'Didact Gothic', sans-serif; color:white;">
          Shop: 1535, Rd No: 4631, Block: 646,  <br>
      Al Nuwaidrat, Kingdom Of Bahrain
        </div>
        </div>
            </div>
    <div class="right-detail">
      <div class="" style="font-size:14px;font-family: 'Didact Gothic', sans-serif; color:white;">
        Mobile Number : 37042070 <br>
        Email Id : felco.bh@gmail.com
      </div>
    </div>
      <hr style="width:90%;">
    <div class="socials-pos">
      <a href="https://wa.me/0097337042070"><img src="../image/whatsapp.png" alt="whatsa" ></a>
    </div>
    <div class="copyrht">
      <p style="font-size:12.5px;font-family: 'Didact Gothic', sans-serif; color:white;font-weight:lighter;">ⓒCopyright. All rights reserved</p>
    </div>
    </footer>
    <script src="https://kit.fontawesome.com/eed860bb79.js" crossorigin="anonymous"></script>
  </body>
</html>
